![This is an image](Quant-Trading.jpg)

<font size="3">
Please visit our website <a href="https://www.quant-trading.co" target="_blank">quant-trading.co</a> for more tools on quantitative finance and data science.
</font>

# **CUMULATIVE RETURNS**

## **¿How to calculate cumulative returns?**

<font size="3"> Sometimes it is very important to calculate the cumulative return of a stock or a portfolio. How can you do that? Well, it is a simple procedure. All you need is closing prices of the asset plus the dividends it has paid throughout the years. In this notebook we will show how to do that.
<br><br>

In [1]:
import warnings
warnings.filterwarnings('ignore')

import yfinance as yf  #Yahoo Finance
import datetime
import pandas as pd

## **Get an specific ticker**

<font size="3"> Stocks have an specific identification code. For example the APPLE's stock identifier is AAPL. Here we show how to download the prices history for the stock for an specific time frame.
<br><br>

In [2]:
#ASSET
ticker = 'AAPL'
my_ticker = yf.Ticker(ticker)

start_date = datetime.datetime(1990, 12, 31)
end_date = datetime.datetime(2023, 12, 31)

prices_hist = my_ticker.history(start=start_date,end=end_date)

<font size="3"> We can have a visual inspection of the DataFrame.
<br><br>

In [3]:
prices_hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1990-12-31,0.307459,0.309247,0.305671,0.307459,44273600,0.0,0.0
1991-01-02,0.305671,0.314609,0.300309,0.311034,154985600,0.0,0.0
1991-01-03,0.311034,0.316397,0.307459,0.307459,150180800,0.0,0.0
1991-01-04,0.307459,0.316397,0.307459,0.309247,141523200,0.0,0.0
1991-01-07,0.307459,0.323547,0.307459,0.309247,310800000,0.0,0.0
...,...,...,...,...,...,...,...
2023-12-22,194.931260,195.160978,192.724085,193.353287,37122800,0.0,0.0
2023-12-26,193.363270,193.642911,192.584265,192.803986,28919300,0.0,0.0
2023-12-27,192.244692,193.253399,190.846467,192.903839,48087700,0.0,0.0
2023-12-28,193.892582,194.411923,192.923817,193.333298,34049900,0.0,0.0
2023-12-29,193.652887,194.152249,191.485654,192.284637,42628800,0.0,0.0

## **Express the dividend as a nominal return**

<font size="3"> The next step is to calculte the dividend as a percentage. That can be done easily dividing the dividends by the closing price. That can be interpreted as an extra return that is paid in that moment. For example, you can see that Apple stock paid USD 0.24 on november 11th 2023. The closing price of the stock was 186.162445, which mean that the dividends represent a nominal return of 0.1289%. 
<br><br>

In [4]:
prices_hist['Perc_Dividends']=prices_hist['Dividends']/prices_hist['Close']
prices_hist.loc[prices_hist['Perc_Dividends']!=0]

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Perc_Dividends
Date,,,,,,,,
1991-02-15,0.410211,0.419167,0.410211,0.412898,365612800,0.001071,0.0,0.002594
1991-05-20,0.339425,0.341220,0.316078,0.317874,262169600,0.001071,0.0,0.003369
1991-08-19,0.356390,0.371690,0.349191,0.363590,322481600,0.001071,0.0,0.002946
1991-11-18,0.360856,0.378899,0.360856,0.376193,238739200,0.001071,0.0,0.002847
1992-02-14,0.460952,0.464567,0.457336,0.463664,72587200,0.001071,0.0,0.002310
...,...,...,...,...,...,...,...,...
2022-11-04,141.120139,141.696182,133.462773,137.435471,140814800,0.230000,0.0,0.001674
2023-02-10,148.666463,150.536471,148.427732,150.208221,57450700,0.230000,0.0,0.001531
2023-05-12,172.937063,173.375334,170.327373,171.891205,45497800,0.240000,0.0,0.001396
2023-08-11,176.861019,178.157642,176.093008,177.329788,51988100,0.240000,0.0,0.001353
2023-11-10,183.735549,186.332242,183.296107,186.162445,66133400,0.240000,0.0,0.001289

## **Calculate the total return for each date**

<font size="3"> To calculate the total return for each date we can simply add the dividend's return plus the price return. We will also assign a "zero" to the first row, since we don't have a previous price to calculate a return.
<br><br>

In [5]:
prices_hist['Return'] = prices_hist['Close']/ prices_hist['Close'].shift(1)-1+prices_hist['Perc_Dividends']
prices_hist['Return'].iloc[0] = 0
prices_hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Perc_Dividends,Return
Date,,,,,,,,,
1990-12-31,0.307459,0.309247,0.305671,0.307459,44273600,0.0,0.0,0.0,0.000000
1991-01-02,0.305671,0.314609,0.300309,0.311034,154985600,0.0,0.0,0.0,0.011627
1991-01-03,0.311034,0.316397,0.307459,0.307459,150180800,0.0,0.0,0.0,-0.011494
1991-01-04,0.307459,0.316397,0.307459,0.309247,141523200,0.0,0.0,0.0,0.005813
1991-01-07,0.307459,0.323547,0.307459,0.309247,310800000,0.0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...
2023-12-22,194.931260,195.160978,192.724085,193.353287,37122800,0.0,0.0,0.0,-0.005547
2023-12-26,193.363270,193.642911,192.584265,192.803986,28919300,0.0,0.0,0.0,-0.002841
2023-12-27,192.244692,193.253399,190.846467,192.903839,48087700,0.0,0.0,0.0,0.000518
2023-12-28,193.892582,194.411923,192.923817,193.333298,34049900,0.0,0.0,0.0,0.002226
2023-12-29,193.652887,194.152249,191.485654,192.284637,42628800,0.0,0.0,0.0,-0.005424

## **Calculate the cumulative total return**

<font size="3"> Then we can use the function cumprod(). We can use it on the whole DataFrame applying the function on the quantity (1+ 'Return'). This example shows that the total cumulative return on the second day is 1.1628% and the total cumulative return on december 29th 2023 is 79972.8097%
<br><br>

In [6]:
prices_hist['Cum_Return']=(1 + prices_hist['Return']).cumprod() - 1
prices_hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Perc_Dividends,Return,Cum_Return
Date,,,,,,,,,,
1990-12-31,0.307459,0.309247,0.305671,0.307459,44273600,0.0,0.0,0.0,0.000000,0.000000
1991-01-02,0.305671,0.314609,0.300309,0.311034,154985600,0.0,0.0,0.0,0.011627,0.011627
1991-01-03,0.311034,0.316397,0.307459,0.307459,150180800,0.0,0.0,0.0,-0.011494,0.000000
1991-01-04,0.307459,0.316397,0.307459,0.309247,141523200,0.0,0.0,0.0,0.005813,0.005813
1991-01-07,0.307459,0.323547,0.307459,0.309247,310800000,0.0,0.0,0.0,0.000000,0.005813
...,...,...,...,...,...,...,...,...,...,...
2023-12-22,194.931260,195.160978,192.724085,193.353287,37122800,0.0,0.0,0.0,-0.005547,804.178257
2023-12-26,193.363270,193.642911,192.584265,192.803986,28919300,0.0,0.0,0.0,-0.002841,801.890811
2023-12-27,192.244692,193.253399,190.846467,192.903839,48087700,0.0,0.0,0.0,0.000518,802.306629
2023-12-28,193.892582,194.411923,192.923817,193.333298,34049900,0.0,0.0,0.0,0.002226,804.095017
2023-12-29,193.652887,194.152249,191.485654,192.284637,42628800,0.0,0.0,0.0,-0.005424,799.728097

If this content is helpful and you want to make a donation please click on the button

[![paypal](https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif)](https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=29CVY97MEQ9BY)